<footer class="footer">
    <div class="footer__container">
        <div class="footer__top">
            <div class="footer__info">
                <a href="" class="footer__logo">
                    <img src="../img/logo.png" alt="">
                </a>
                <div class="footer__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis lacus et dui sagittis, ac
                    ultrices purus consectetur.
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__column">
                    <a href="" class="footer__title">Lorem ipsum</a>
                    <div class="footer__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="footer__column">
                    <a href="" class="footer__title">Lorem ipsum</a>
                    <div class="footer__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="footer__column">
                    <a href="" class="footer__title">Lorem ipsum</a>
                    <div class="footer__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <ul class="footer__socials">
                        <li class="footer__socials-item">
                            <a href="" class="footer__socials-link">
                                <svg>
                                    <use xlink:href="#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__socials-item">
                            <a href="" class="footer__socials-link">
                                <svg>
                                    <use xlink:href="#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__socials-item">
                            <a href="" class="footer__socials-link">
                                <svg>
                                    <use xlink:href="#icon-pinterest"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy">
                Copyright 2020 © Perfect Rubber Mulch. All rights reserved.
            </div>
            <div class="footer__bottom-right">
                <a href="" class="footer__to-top">
                    <svg>
                        <use xlink:href="#icon-to-top"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
