<header class="header">
    <div class="header__top">
        <div class="header__container">
            <div class="header__top-row">
                <div class="header__top-left-text ">Lorem ipsum dolor</div>
                <div class="header__top-center-text">
                    <img src="../img/svg/avto.svg" alt="">
                    Lorem ipsum dolor
                </div>
                <div class="header__top-right"><a href="tel:8009183357" class="header__top-phone">
                    <img src="../img/svg/phone.svg" alt="">
                    800-918-3357
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__container">
            <div class="header__bottom-row">
                <a href="#" class="header__logo">
                    <img src="../img/logo.png" alt="">
                </a>
                <button class="header__button-icon icon-menu"><span></span></button>
                <div class="header__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="">
                                    Playground
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="">
                                    Landscaping
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="">
                                    Request a quote
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="">
                                    Products
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="menu__actions">
                        <div class="menu__cart">
                            <svg>
                                <use xlink:href="#icon-cart"></use>
                            </svg>
                        </div>
                        <a href="" class="menu__calculator button button--primary">
                            <img src="../img/svg/calculator.svg" alt=""> <span> Calculator</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
